.postbox{
	.section{
		margin-bottom:20px;
		
		.title{ float:left; width:25%; max-width:200px; border-bottom:0 none; padding-top:0; }
		.option{ overflow:hidden; position:relative; }
		.controls{
			textarea, select, input[type=text], .input{ border-color:#dfdfdf; background:#fff; }
			
			select{ padding:2px; }
		}
	}
}