.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/*----ui slider----*/
.ui-slider {
  position: relative;
  text-align: left;
  background: #eee;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid;
  border-color: #ccc #eee #eee #ccc;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  cursor: default;
  background: url(../images/slider-control.png) no-repeat center center !important;
  cursor: pointer;
}
.ui-slider .ui-slider-handle.ui-corner-all {
  border: 0 !important;
}
.ui-slider .ui-slider-handle.ui-state-focus {
  border: 0 !important;
  background: url(../images/slider-control.png) no-repeat center center !important;
  outline: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider-horizontal {
  height: 7px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -9px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-range {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.ui-slider-range.ui-widget-header {
  border: 1px solid #094B97;
  margin-top: -1px;
  margin-left: -1px;
  background: #0F7FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.ui-slider {
  width: 250px;
  display: inline-block;
  margin-left: 10px;
}
.ui-slider-value {
  width: 70px !important;
}
/*----media upload----*/
.media-upload-url {
  width: 278px !important;
}
.media-upload-preview {
  padding: 10px;
  display: inline-block;
  margin: 1px;
  margin-top: 10px;
  border: #dddddd solid 1px;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  text-align: center;
}
.media-upload-preview:empty {
  display: none;
}
.media-upload-preview img {
  margin-top: 10px;
  max-width: 100%;
}
/*----color----*/
.color-preview {
  display: inline-block;
  line-height: 15px;
  height: 15px;
  width: 15px;
  background: red;
  content: '';
  vertical-align: -5px;
  padding: 2px;
}
.color-value {
  width: 70px !important;
}
/*----select images----*/
.select-image-item {
  display: inline-block;
  margin: 2px;
  border: transparent solid 5px;
  margin-left: 0;
  line-height: 0;
  box-sizing: border-box;
}
.select-image-item.selected {
  border-color: #0f7fff;
}
.select-image-item input[type=radio] {
  display: none;
}
/*----select images----*/
.bg-pos {
  width: 169px !important;
}
.bg-color.color-value {
  width: 218px !important;
}
/*----repeats----*/
.repeat-list {
  margin-top: 0;
}
.repeat-item {
  position: relative;
  padding-right: 45px;
}
.repeat-item .ui-slider {
  width: 200px;
}
.repeat-item .media-upload-url {
  width: 228px !important;
}
.repeat-item .bg-pos {
  width: 119px !important;
}
.repeat-item .bg-color.color-value {
  width: 168px !important;
}
.repeat-delete,
.repeat-sort {
  position: absolute;
  top: 5px;
}
.repeat-delete {
  right: 20px;
  cursor: pointer;
}
.repeat-sort {
  right: 0;
  cursor: move;
}
.sg-form-tabs {
  background: #f3f3f3;
  border: #dddddd solid 1px;
  border-top: 0 none;
  overflow: hidden;
}
.sg-form-tabs .sg-form-tab-nav {
  display: none;
}
.sg-form-tabs .tg-form-tab-group {
  border-left: 0 none;
  min-height: 500px;
}
.sg-form-tabs .tg-form-tab-group h2 {
  display: block;
}
.sg-form-tabs.collapse .sg-form-tab-nav {
  display: block;
}
.sg-form-tabs.collapse .sg-form-tab-group {
  border-left: #dddddd solid 1px;
}
.sg-form-tab-nav {
  float: left;
  width: 220px;
  z-index: 999;
}
.sg-form-tab-nav li {
  border-bottom: #ddd solid 1px;
  margin: 0;
}
.sg-form-tab-nav li ul {
  display: none;
  border-top: #ddd solid 1px;
  background: #eaeaea;
}
.sg-form-tab-nav li li {
  border-bottom: 0 none;
}
.sg-form-tab-nav li.current {
  background: #fff;
  margin-right: -1px;
}
.sg-form-tab-nav li.current > a {
  opacity: 1;
}
.sg-form-tab-nav li.current > ul {
  display: block;
}
.sg-form-tab-nav li.current.parent {
  background: none;
}
.sg-form-tab-nav li.current.parent .icon-toggle {
  background-position: 0 2px;
}
.sg-form-tab-nav li:hover a {
  opacity: 1;
}
.sg-form-tab-nav a {
  display: block;
  padding: 10px 15px;
  font-weight: 600;
  line-height: 1.2em;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.sg-form-tab-nav a .sg-icon {
  position: absolute;
  right: 10px;
}
.sg-form-tab-nav .to-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.sg-form-tab-group {
  background: #fff;
  overflow: hidden;
  padding: 15px;
}
.sg-form-tab-group h2 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: #eee solid 3px;
}
/*
Version: @@ver@@ Timestamp: @@timestamp@@
*/
.select-select2 {
  width: 100%;
}
.select-font {
  width: 100%;
}
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}
.select2-container .select2-choice {
  display: block;
  height: 30px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  white-space: nowrap;
  line-height: 30px;
  text-decoration: none;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #ddd;
  border-radius: 0 0 3px 3px;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('../js/select2/select2.png') right top no-repeat;
  cursor: pointer;
  outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}
.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}
.select2-drop-auto-width {
  border-top: 1px solid #ddd;
  width: auto;
}
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 3px 3px 0;
  background-clip: padding-box;
}
.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../js/select2/select2.png') no-repeat 0 1px;
}
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff url('../js/select2/select2.png') no-repeat 100% -22px;
}
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}
.select2-search input.select2-active {
  background: #ffffff url('../js/select2/select2-spinner.gif') no-repeat 100%;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
}
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}
/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-selected {
  display: none;
}
.select2-more-results.select2-active {
  background: #f4f4f4 url('../js/select2/select2-spinner.gif') no-repeat 100%;
}
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}
/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #ddd;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
  min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #ffffff url('../js/select2/select2-spinner.gif') no-repeat 100% !important;
}
.select2-default {
  color: #999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #dddaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin-left: 0;
  margin-right: 5px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url('../js/select2/select2.png') right top no-repeat;
}
html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}
/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}
.select2-offscreen,
.select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}
.select2-display-none {
  display: none;
}
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url('../js/select2/select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
.sg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  background: url(../images/icon-action-sprite.png) no-repeat top left;
}
.sg-icon.icon-accept {
  background-position: 0 0;
}
.sg-icon.icon-add {
  background-position: 0 -36px;
}
.sg-icon.icon-sort {
  background-position: 0 -72px;
}
.sg-icon.icon-delete {
  background-position: 0 -108px;
}
.sg-icon.icon-edit {
  background-position: 0 -144px;
}
.sg-icon.icon-remove {
  background-position: 0 -180px;
}
.sg-icon.icon-tick {
  background-position: 0 -216px;
}
.sg-icon.icon-date {
  background-image: url(../images/icon-date.png);
}
.sg-icon.icon-expand {
  background-image: url(../images/toggle_tabs.png);
  background-position: -4px -4px;
}
.sg-icon.icon-toggle {
  background-image: url(../images/icon-toggle-sprite.png);
  background-position: 0 -14px;
}
/* CSS Document */
.sg-section {
  border-bottom: #eee solid 1px;
  padding: 15px;
}
.sg-section:last-child {
  border-bottom: 0 none;
}
.sg-section .title {
  margin-top: 0;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: #eee solid 1px;
}
.sg-section .desc {
  overflow: hidden;
  color: #999;
  font-size: 11px;
  font-weight: normal;
}
.sg-section .controls textarea,
.sg-section .controls select,
.sg-section .controls input[type=text],
.sg-section .controls .input {
  padding: 5px;
  font-size: 12px;
  border: #dddddd solid 1px;
  width: 99%;
  min-height: 30px;
  box-sizing: border-box;
  border-radius: 3px;
}
.sg-section .controls textarea:focus,
.sg-section .controls select:focus,
.sg-section .controls input[type=text]:focus,
.sg-section .controls .input:focus {
  background: #fff;
  border-color: #ccc;
}
.sg-section .controls select {
  color: #999;
}
.sg-section .controls .button {
  min-height: 30px;
}
.sg-section .controls .font-size,
.sg-section .controls .font-style {
  width: auto;
}
.sg-section .controls .font-face {
  width: 170px;
}
.sg-section .controls .border-width,
.sg-section .controls .border-style {
  width: auto;
}
.sg-section .sg-section-label {
  float: left;
  width: 220px;
  margin-right: 15px;
  font-weight: 600;
}
.sg-section .sg-section-option {
  position: relative;
  margin-left: 236px;
}
.sg-section-set {
  border: #eee solid 1px;
  border-radius: 3px;
  margin-bottom: 30px;
}
.sg-section-set legend {
  margin-left: 15px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0074a2;
  font-size: 1.1em;
}
.sg-section-preview hr {
  border: #ddd solid 1px;
  border-width: 1px 0 0;
}
.sg-section-preview iframe {
  width: 100%;
  height: auto;
}
.sg-section-preview .input {
  width: auto !important;
}
.sg-section-preview .button {
  border: 0 none;
  background: red;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sg-section-preview .controls {
  border: #eee solid 1px;
  border-radius: 3px;
  padding: 0;
}
.sg-section-font .controls,
.sg-section-border .controls {
  float: none;
  width: auto;
  margin-right: 0;
  margin-bottom: 10px;
}
.sg-section-radio .controls label,
.sg-section-checkbox .controls label,
.sg-section-multicheckbox .controls label {
  display: block;
  margin-bottom: 10px;
}
.sg-section-carousel label {
  display: block;
  clear: both;
  padding-top: 10px;
}
.sg-section-carousel label:first-child {
  padding-top: 0;
}
.sg-section-background label {
  display: block;
  clear: both;
  padding-top: 10px;
}
.sg-section-background label:first-child {
  padding-top: 0;
}
.sg-section-info .controls {
  width: 100%;
  padding: 15px;
  background: #eff9ff;
  border: #d6f0ff solid 1px;
  box-sizing: border-box;
}
.sg-section-info h3 {
  margin-top: 0;
}
.sg-to-wrap {
  padding: 20px 10px;
}
.sg-to-wrap,
.sg-to-wrap a,
.sg-to-wrap h2,
.sg-to-wrap h3 {
  color: #666;
}
.sg-to-container {
  width: 900px;
}
.sg-to-container h2 {
  font-weight: normal;
  padding-top: 0;
}
.sg-to-container ul {
  margin: 0;
  padding: 0;
}
.sg-to-container li {
  list-style: none;
}
.sg-to-container .sg-form-tab {
  background: #f3f3f3;
  border: #dddddd solid 1px;
  border-top: 0 none;
  overflow: hidden;
}
.sg-to-container .sg-form-tab .sg-form-tab-nav {
  display: none;
}
.sg-to-container .sg-form-tab .sg-form-tab-group {
  border-left: 0 none;
  min-height: 500px;
}
.sg-to-container .sg-form-tab .sg-form-tab-group h2 {
  display: block;
}
.sg-to-container .sg-form-tab.collapse .sg-form-tab-nav {
  display: block;
}
.sg-to-container .sg-form-tab.collapse .sg-form-tab-group {
  border-left: #dddddd solid 1px;
}
.sg-to-header {
  border: #ddd solid 1px;
  overflow: hidden;
  padding: 10px 15px;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-radius: 4px 4px 0 0;
  background: #f1f1f1;
}
.sg-to-header .sg-to-logo {
  float: left;
  margin-top: 5px;
}
.sg-to-header .icon32 {
  float: right;
  margin: 0;
}
.sg-to-toolbar {
  padding: 10px 15px;
  background: #fff;
  border: #dddddd solid 1px;
  border-top: 0 none;
  overflow: hidden;
  clear: both;
}
.sg-to-footer {
  text-align: center;
  padding: 15px;
}
.sg-to-tab-nav {
  float: left;
  width: 220px;
  z-index: 999;
}
.sg-to-tab-nav li {
  border-bottom: #ddd solid 1px;
  margin: 0;
}
.sg-to-tab-nav li ul {
  display: none;
  border-top: #ddd solid 1px;
  background: #eaeaea;
}
.sg-to-tab-nav li li {
  border-bottom: 0 none;
}
.sg-to-tab-nav li.current {
  background: #fff;
  margin-right: -1px;
}
.sg-to-tab-nav li.current > a {
  opacity: 1;
}
.sg-to-tab-nav li.current > ul {
  display: block;
}
.sg-to-tab-nav li.current.parent {
  background: none;
}
.sg-to-tab-nav li.current.parent .icon-toggle {
  background-position: 0 2px;
}
.sg-to-tab-nav li:hover a {
  opacity: 1;
}
.sg-to-tab-nav a {
  display: block;
  padding: 10px 15px;
  font-weight: 600;
  line-height: 1.2em;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.sg-to-tab-nav a .sg-icon {
  position: absolute;
  right: 10px;
}
.sg-to-tab-nav .sg-to-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.sg-to-tab-group {
  background: #fff;
  overflow: hidden;
  padding: 15px;
}
.sg-to-tab-group h2 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: #eee solid 3px;
}
.sg-to-logo small {
  font-size: 12px;
  line-height: 1em;
  vertical-align: baseline;
  color: #999;
}
.sg-to-expand.button {
  padding: 0 4px;
}
.sg-to-expand.button .sg-icon {
  margin-top: -4px;
}
.sg-to-title + .section .title {
  padding-top: 0;
}
.postbox .section {
  margin-bottom: 20px;
}
.postbox .section .title {
  float: left;
  width: 25%;
  max-width: 200px;
  border-bottom: 0 none;
  padding-top: 0;
}
.postbox .section .option {
  overflow: hidden;
  position: relative;
}
.postbox .section .controls textarea,
.postbox .section .controls select,
.postbox .section .controls input[type=text],
.postbox .section .controls .input {
  border-color: #dfdfdf;
  background: #fff;
}
.postbox .section .controls select {
  padding: 2px;
}
#postbox-container-1 .sg-section {
  padding: 1em 0;
}
#postbox-container-1 .sg-section .sg-section-label {
  float: none;
  width: auto;
  margin-right: 0;
}
#postbox-container-1 .sg-section .sg-section-option {
  margin-left: 0;
}
.sg-sc-container .sg-section-set,
.sg-sc-container .sg-section {
  border-color: #ddd;
}
.sg-sc-container .sg-section {
  padding: 10px;
}
.sg-sc-container .sg-section .sg-section-label {
  width: 150px;
}
.sg-sc-container .sg-section .sg-section-option {
  margin-left: 166px;
}
.sg-sc-container .sg-section-button-insert {
  text-align: right;
}
.sg-sc-container .sg-form-tab-nav {
  width: 180px;
  /*overflow-y:scroll; overflow-x:hidden !important; position:fixed;*/
}
.sg-sc-container .sg-form-tab-nav a {
  padding-left: 0;
}
.sg-sc-container .sg-form-tab-nav li li a {
  padding-left: 10px;
}
.sg-sc-container .sg-form-tab-group {
  margin-left: 181px;
}
.sg-sc-container .media-upload-url {
  display: block;
  max-width: 99% !important;
  margin-bottom: 5px;
}
