table #sg_col_id, table .sg_col_id, .column-sg_col_id{
	width:30px !important;
}

table #sg_col_action, table .sg_col_action, .column-sg_col_action{
	text-align:right !important;
}

table .sg_col_action a{
	margin-left:10px;
}